<body id="edit">
  <form action="/restaurantItems/{{restaurantId._id}}/edit" method="post">
    <div class="container py-5">
      <div class="text-center">
        <img class="rounded mb-4" src="{{restaurantId.image}}" alt="Card image cap" style="max-height: 230px;">
      </div>
      <div class="row">
        <div class="col-12 col-md-10 col-lg-8 mx-auto">
          <p class="text-secondary mb-1">

          <div class="d-inline-flex">
            <label style="color:#274c5e">餐廳:</label> <input type=" text" name="restaurantName" placeholder="請輸入餐廳名稱"
              style="width:600px" value={{restaurantId.name}}>
          </div>

          <div class="d-inline-flex  mt-3">
            <label style="color:#274c5e">分類:</label> <input type="text" name="restaurantCategory" placeholder="請輸入餐廳分類"
              style="width:600px" value={{restaurantId.category}}>
          </div>

          <div class=" d-inline-flex mt-3 ">
            <label style="color:#274c5e">地址:</label><input type=" text" name="restaurantLocation" placeholder="請輸入餐廳地址"
              style="width:600px" value={{restaurantId.location}}>
          </div>

          <div class="d-inline-flex  mt-3">
            <label style="color:#274c5e">電話:</label> <input type="text" name="restaurantPhone" placeholder="請輸入餐廳電話"
              style="width:600px">
          </div>
          </p>

          <p class="d-inline-flex">
            <label style="color:#274c5e">備註:</label><input type="text" name="restaurantDescription"
              style="width:600px;height:150px" class="text-left">
          </p>

        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center  mb-5">
      <button type="submit" class="btn btn-outline-secondary">確定修改</button>
      <a href="/" class="editButton" style="color:#f1bbba">Back</a>
    </div>


    </div>
  </form>
</body>