<div>
  {{#each searchDbData}}
  <div class="col-sm-3">
    <a href="/restaurant/{{this._id}}" class="text-secondary">
      <div class="card mb-2">
        <img class="card-img-top" src="{{this.image}}" alt="Card image cap">
        <div class="card-body movie-item-body">
          <h6 class="card-title">餐廳名稱:{{this.name}}</h6>
        </div>
      </div>
    </a>
  </div>

  <div>
    <a href="/restaurant/{{this._id}}">Detail</a>
    <a href="/restaurant/{{this._id}}/edit">Edit</a>

    <form action="/restaurant/{{this._id}}/delete" method="post" style="display:inline">
      <button type="submit" class="btn btn-secondary">Delete</button>
    </form>
  </div>
  {{/each}}
</div>