<div class="d-flex flex-row justify-content-center" id="search">
  {{#each searchDbData}}
  <div class="col-sm-3">
    <a href="/restaurant/{{this._id}}" class="text-secondary">
      <div class="card mb-2">
        <img class="card-img-top" src="{{this.image}}" alt="Card image cap">
        <div class="card-body movie-item-body">
          <h6 class="card-title">餐廳名稱:{{this.name}}</h6>
        </div>
      </div>
    </a>


    <div class="searchButton">
      <a href="/restaurant/{{this._id}}" style="color:#f1bbba" class="searchButton1">Detail</a>
      <a href="/restaurant/{{this._id}}/edit" style="color:#f1bbba" class="searchButton2">Edit</a>

      <form action="/restaurant/{{this._id}}/delete" method="post" style="display:inline" class="searchButton3">
        <button type="submit" class="btn btn-outline-secondary">Delete</button>
      </form>
    </div>
  </div>
  {{/each}}
</div>