<div class="container py-5">
  <div class="text-center">
    <h3 class="mb-4" style="color:aliceblue">餐廳名稱:{{showContent.name}}</h3>
    <img class="rounded mb-4" src="{{showContent.image}}" alt="Card image cap" style="max-height: 250px;">
  </div>
  <div class="row">
    <div class="col-12 col-md-10 col-lg-8 mx-auto">
      <p class="text-secondary mb-1">
      <h6>分類:{{showContent.category}}</h6>
      <h6>地址:{{showContent.location}}</h6>
      <h6>電話:{{showContent.phone}}</h6>
      </p>

      <p>
      <h6>{{showContent.description}}</h6>
      </p>

    </div>
  </div>

  <div class="d-flex justify-content-center  mt-4">

    <a href="/restaurant/{{showContent._id}}/edit" style="color:#f1bbba">Edit</a>
    <a href="/" class="editButton" style="color:#f1bbba">Back</a>

    <form id="detailButton" action="/restaurant/{{showContent._id}}?_method=delete" method="post"
      style="display:inline">
      <button type="submit" class="btn btn-outline-secondary">Delete</button>
    </form>
  </div>
</div>