<div class="container mt-5">


  <!-- search bar -->
  <div class="row" id="search-bar">
    <div class="col-12">
      <form action="/search">
        <div class="input-group mb-3">
          <input type="text" name="keyword" value="{{userKeyword}}" class="form-control" placeholder="請輸入餐廳"
            aria-label="Movie Name..." aria-describedby="search-button">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" id="search-button">Search</button>
          </div>

          {{!-- sort
          <div class="dropdown d-inline-flex">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sort
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">sababa中東美食</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div> --}}

        </div>
      </form>
    </div>
  </div>

  <!-- restaurant list -->
  <div class=" row" id="data-panel">
    {{#each todos}}
    <div class="col-sm-3 mb-5">
      <a href="/restaurant/{{this._id}}" class="text-secondary">
        <div class="card mb-2">
          <img class="card-img-top" src="{{this.image}}" alt="Card image cap">
          <div class="card-body movie-item-body">
            <h6 class="card-title">餐廳名稱:{{this.name}}</h6>
          </div>
        </div>
      </a>

      <div>
        <a class="indexButton" href="/restaurant/{{this._id}}" style="color:#f1bbba"> Detail</a>
        <a href="/restaurant/{{this._id}}/edit" style="color:#f1bbba">Edit</a>

        <form action="/restaurant/{{this._id}}?_method=delete" method="post" style="display:inline">
          <button type="submit" class="btn btn-outline-secondary">Delete</button>
        </form>
      </div>
    </div>
    {{/each}}
  </div>